/* NANIURA SUSHI CSS v.0.2
Created on Nov 28th : 05:28 PM,
Updated on Dec 13th : 02:28 AM,
Copyright 2017 by IOBITDEV
IOBITDEV.COM */

@font-face {
  font-family: SofiaProLight;
  src: url("../type/sofiapro-light.woff2");
}

@font-face {
  font-family: SofiaProSemibold;
  src: url("../type/sofiapro-semibold.woff2");
}

body {
	margin: 0;
	font-family: "SofiaProLight";
}

.wrapper-member {
  background-image: url("../img/body-bg.jpg");
  background-size: cover;
}

::-webkit-scrollbar {
display: none;
}

.textbold {
  font-family: "SofiaProSemibold";
}

header {
  position: relative;
	padding: 20px 0 0px 0;
	text-align: center;
}

.header-member {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  /*background-repeat: no-repeat;*/
  background-position: center;
  width: 100%;
  background-size: cover;
  z-index: 8;
}

.header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url("../img/header-img.png");
  /*background-repeat: no-repeat;*/
  background-position: center;
  width: 100%;
  background-size: cover;
  z-index: 8;
}

.header-bg:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 9;
  background-color: rgba(235,234,221,0.65);
}

.header-overlay {
  position: relative;
  z-index: 10;
}

#menu-fixed {
  font-family: "SofiaProLight";
  position:fixed;
  top:0px;
  width:100%;
  height:55px;
  background-color: rgba(46, 46, 46, 0.9);
  color: #FFFFFF;
  z-index:99;
  display: none;
  margin: 0;
  font-size: 14px;
}

nav {
	font-family: "SofiaProSemibold";
	margin: 20px;
}

ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline;
	margin: 0 10px;
	position: relative;
}

li a {
	color: #000000;
	text-decoration: none;
	letter-spacing: -0.5px;
}

.nav-badge {
  background-color: #E84C4C;
  border-radius: 50px;
  color: white;
  padding: 4px;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 63px;
}

.mf-badge {
  background-color: #E84C4C;
  border-radius: 50px;
  color: white;
  padding: 4px;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 56px;
}

.wrapper-nav-m {
  display: none;
  padding: 0 15px;
}

.brandlogo-m {
  float: left;
}

.nav-m {
  float: right;
}

a {
  opacity: 1;
	text-decoration: none;
}

a:hover {
	opacity: 0.6;
	transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-webkit-transition: opacity .50s ease-in-out;
}

a {
  opacity: 1;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

button:hover {
  cursor: pointer;
	opacity: 0.8;
	transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-webkit-transition: opacity .50s ease-in-out;
}

.vertical-al {
	vertical-align: text-bottom;
}

.welcome-text {
	font-family: "SofiaProSemibold";
	font-size: 52px;
	padding: 70px 0;
	letter-spacing: 2px;
	line-height: 50px;
}

button {
	background-color: #F05D17;
	color: #fff;
  border-width: 4px;
  border-style: none;
	cursor: pointer;
  padding: 10px 25px;
  opacity: 1;
  margin: 30px 0;
  border-radius: 0;
	font-size: 12px;
	letter-spacing: 2px;
  font-family: "SofiaProLight";
}

button a {
  cursor: pointer;
}

#but-sign-in {
  width: 300px;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 12px 25px;
  opacity: 1;
  margin: 5px 0;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 2px;
}

#but-sign-in:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#but-contact {
  width: 430px;
  background-color: #AAAAAA;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 12px 25px;
  opacity: 1;
  margin: 5px 0;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 2px;
}

#but-contact:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#sign-in-form {
  margin: 5px;
}

.mf-nav {
  margin: 0 auto;
  width: 920px;
  padding-top: 9px;
}

.mf-nav a {
  color: #fff;
}

.floatr {
  float: right;
  padding-top: 4px;
}

.floatl {
  float: left;
}

.nav-m-fixed {
  display: none;
  margin: 10px 15px 0px 15px;
}

.welcome-scroll {
/*	padding: 30px; */
  padding: 70px; /*windows 10 1366px*/
}

.about {
	text-align: center;
	padding: 80px;
	background: url("../img/about-bg.png") no-repeat center center fixed;
}

.title-about {
	font-family: "SofiaProSemibold";
	font-size: 28px;
	letter-spacing: 0.5px;
	color: #F05D17;
}

.title-jp {
	font-size: 16px;
  font-family: "SofiaProSemibold", sans-serif;
}

.about-line {
  margin: 5px auto;
  width: 50px;
  border-bottom: solid 2px #F05D17;
}

.member-line {
  margin: 5px auto;
  width: 70px;
  border-bottom: solid 3px #F05D17;
  margin-bottom: 10px;
}

.member-line2 {
  margin: 5px auto;
  width: 448px;
  border-bottom: solid 3px #F05D17;
  margin-bottom: 10px;
}

.member-line3 {
  margin: 5px auto;
  width: 100%;
  border-bottom: solid 3px #F05D17;
  margin: 20px 0;
}

.member-line4 {
  margin: 5px auto;
  width: 100%;
  border-bottom: solid 1px #000;
  margin: 20px 0;
}

.member-line5 {
  margin: 5px auto;
  width: 226px;
  border-bottom: solid 1px #000;
  margin-top: -15px;
}

.member-line6 {
  margin: 5px auto;
  width: 226px;
  border-bottom: solid 1px #000;
  margin-bottom: 20px;
}

.detail-line {
  margin: 20px auto;
  width: 226px;
  border-bottom: solid 1px #000;
}

.detail-line2 {
  margin: 5px auto;
  width: 226px;
  border-bottom: solid 3px #000;
}


.content-about {
	max-width: 700px;
  line-height: 35px;
  margin: 20px auto;
}

.featuredmenu {
	background-image: url("../img/featured-bg.png");
	background-repeat: no-repeat;
	text-align: center;
	padding: 25px;
	background-position: top;
  background-size: cover;
}

.no-bg {
  background-image: none;
}

.bg-menu-1 {
  background: url("../img/menu-bg-1.png")
  no-repeat center center fixed;
}


.bg-menu-2 {
  background: url("../img/menu-bg-2.png")
  no-repeat center center fixed;
}

.right-arrow {
    vertical-align: sub;
    margin: 0px 0px 0 20px;
}

.title-menu {
/*	background-image: url("img/title-bg.svg");
	background-repeat: no-repeat;
	margin: 0 auto;*/
	background-image: url(../img/title-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
    padding: 25px 0px 45px 0; /*before 30 top*/
    text-align: center;
    font-family: "SofiaProSemibold";
	font-size: 28px;
	letter-spacing: 0.5px;
	color: #F05D17;
}

.featured-line {
    margin: 5px auto;
    width: 50px;
    border-bottom: solid 2px #F05D17;
}

.all-menus {
	font-family: "SofiaProSemibold";
	background-color: rgba(0,0,0,0);
	border-color: #000;
	color: #000;
    border-width: 4px;
    border-style: solid;
	cursor: pointer;
	padding: 9px 25px 7px 25px;
    opacity: 1;
    margin: 10px 0;
    border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
}

.see-all {
	font-family: "SofiaProSemibold";
	background-color: rgba(0,0,0,0);
	border-color: #000;
	color: #000;
    border-width: 4px;
    border-style: solid;
	cursor: pointer;
    padding: 9px 15px 6px 30px;
    opacity: 1;
    margin: 10px 0;
    border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
}

.column {
    float: left;
    width: 25%;
    padding: 0px;
}

.row {
	max-width: 900px;
    margin: 0 auto;
    /*padding: 20px 0;*/
    padding: 20px 0 0 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-3 {
    float: left;
    width: 33%;
    padding: 0px;
}

.row-3 {
  max-width: 750px;
    margin: 0 auto;
    /*padding: 20px 0;*/
/*    padding: 30px 0 0 0;*/
  padding-top: 30px;
}

.row-3:after {
    content: "";
    display: table;
    clear: both;
}

.column-2 {
    float: left;
    width: 50%;
    padding: 0 10px 10px 10px;
}

.row-2 {
  height: 252px;
  max-width: 900px;
  margin: 0 auto;
/*  padding: 0 20px;*/
    /*padding: 20px 0;*/
/*    padding: 30px 0 0 0;*/
/*  padding-top: 30px;*/
}

.row-2:after {
    content: "";
    display: table;
    clear: both;
}

/*.promo-event-padtop {
  padding-top: 30px;
}*/

.article-wrp {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.article-thumb {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.th1 {
  background-image: url("../img/th1.png");
}

.th2 {
  background-image: url("../img/th2.png");
}

.th3 {
  background-image: url("../img/th3.png");
}

.th4 {
  background-image: url("../img/th4.png");
}

.th5 {
  background-image: url("../img/th5.png");
}

.th6 {
  background-image: url("../img/th6.png");
}

.article-summary {
  width: 200px;
  font-family: "SofiaProSemibold";
  color: #000;
  margin: 0 auto;
  line-height: 18px;
  padding-top: 10px;
}

.menu-thumbnail {
  height: 275px;
}

.menu-ph {
  width: 210px;
  margin: 0 auto;
  text-align: left;
  font-family: "SofiaProSemibold";
  font-size: 34px;
  letter-spacing: -2px;
  word-wrap: break-word;
  background-color: #F5A246;
  background-image: url("../img/menu-placeholder.png");
  background-position: center;
  padding: 10px;
  line-height: 32px;
}

.menu-title {
	font-family: "SofiaProSemibold";
	font-size: 17px;
	text-align: left;
	line-height: 22px;
	letter-spacing: 0.1px;
    padding: 0 7px;
    margin: 10px 0;
    width: 210px;
}

.floatl:hover {
  opacity: 0.6;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

.menu-wrapper a {
	color: #000;
	text-decoration: none;
}

.menu-wrapper:hover {
  opacity: 0.6;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

.article-wrp a {
  color: #000;
  text-decoration: none;
}

.article-wrp:hover {
  opacity: 0.6;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

.menu-line {
    margin: 15px auto;
    width: 210px;
    border-bottom: solid 2px #000;
}

.menu-stars {
	float: right;
  padding: 10px;
}

/*start of slider style here*/

.swiper-container {
	overflow: visible;
}

.swiper-slider{
  width: 100%;
  height: 460px;
  position: relative;
/*  border-top: 3px solid #b9354d;*/
  margin-bottom: 15px;
  overflow: hidden;
  padding: 20px 0 40px 0;
}

/*.swiper-slider .swiper-button-prev,.swiper-slider .swiper-container-swp .swiper-button-next {
  background-image:url("img/arrow-left.png");
  left: 25%;
  z-index: 5;
  width: 40px;
  height: 100%;
  top: 0;
  left: 0%;
}

.swiper-slider .swiper-button-next, .swiper-slider .swiper-container-swp .swiper-button-prev {
  background-image: url(img/arrow-right.png);
  left: auto;
  z-index: 5;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
}*/

.swiper-slider .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slider .swiper-slide {
	width: 400px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #333;
}

/*.swiper-slide {
	width: 500px;
}
*/
.swiper-slider .swipe-bg{height: 100%; width:100%;
/*  background: -webkit-linear-gradient(top, rgba(33,33,33,1), rgba(255,0,0,0));
  background: -o-linear-gradient(top, rgba(33,33,33,1), rgba(255,0,0,0));
  background: -moz-linear-gradient(top, rgba(33,33,33,1), rgba(255,0,0,0));
  background: linear-gradient(to top, rgba(33,33,33,1), rgba(255,0,0,0));
  color:#fff;*/
}

.swiper-slider .swipe-bg .swipe-title{
  color: #fff;
  font-size: 14px;
  line-height: 16px!important;
  display: block!important;
  overflow: hidden;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.swiper-slider .swipe-bg span{
  font-size: 12px;
  display: block;
  color: #fff;
}

.swiper-slider .swipe-textnya{
  position: absolute;
  bottom: 5px;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.bulletbottom {
    position: absolute;
    margin: 0 auto;
/*    padding: 0 10px;*/
    left: 0;
    right: 0;
    bottom: 10px;
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: -35px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
    margin: 0 5px;
    border: 1px solid #D54D23;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #D54D23;
	border: 1px solid #D54D23;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0px 5px;
    padding: 5px;
}

/*end of slider style here*/

.promoevent {
	text-align: center;
	padding: 50px 0;
}

.promoevent-title {
	text-align: left;
	font-family: "SofiaProSemibold";
	font-size: 32px;
	letter-spacing: 1px;
	color: #797979;
	line-height: 36px;
	padding-bottom: 10px;
}

.promoevent-summary {
	text-align: left;
	line-height: 30px;
/*	padding: 16px 0;*/
	height: 285px;
	font-size: 18px;
}

.row-2col {
	max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.col2 {
	float: left;
    width: 50%;
    padding: 0px;
}

.row-2col:after {
    content: "";
    display: table;
    clear: both;
}

.alignleft {
	text-align: left;
}

.imgpromo {
/*	width: 92%;*/
  width: 414px;
  height: 419px;
    object-fit:cover;
  object-position: 50% 50%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
}

.subscribe {
	text-align: center;
	background-image: url("../img/subscribe-bg.png");
	padding: 55px 0;
}

.title-subs-en {
	font-family: "SofiaProSemibold";
	font-size: 54px;
	letter-spacing: -3px;
	color: #000;
	padding-top: 10px;
}

.title-subs-jp {
	font-family: "SofiaProSemibold", sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	color: #000;
}

.summary-subs {
	line-height: 26px;
}

form {
	max-width: 700px;
    margin: 0 auto;
    margin-top: 10px;
}

input {
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
  font-family: "SofiaProLight";
}

input[type=email] {
/*	background-color: orange;*/
    width: 620px;
    padding: 15px 20px;
/*    margin: -10px -3px;*/
    box-sizing: border-box;
    border: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type=text] {
    width: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 7px;
}

input[type=password] {
    width: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 7px;
}

input[type=email]#sign-in-form {
    width: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 7px;
}

.subscribe-submit {
	margin: 15px 0;
	padding: 15px 30px;
    font-size: 14px;
}

.sub-footer {
	background-image: url("../img/subfooter-bg.png");
	text-align: center;
	margin: 0 auto;
/*	padding: 180px 0;*/
}

.sf-wrapper {
  background: rgba(84,84,84,0.79);
  background: -moz-linear-gradient(top, rgba(84,84,84,0.79) 0%, rgba(84,84,84,0.79) 0%, rgba(0,0,0,0.79) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,84,84,0.79)), color-stop(0%, rgba(84,84,84,0.79)), color-stop(100%, rgba(0,0,0,0.79)));
  background: -webkit-linear-gradient(top, rgba(84,84,84,0.79) 0%, rgba(84,84,84,0.79) 0%, rgba(0,0,0,0.79) 100%);
  background: -o-linear-gradient(top, rgba(84,84,84,0.79) 0%, rgba(84,84,84,0.79) 0%, rgba(0,0,0,0.79) 100%);
  background: -ms-linear-gradient(top, rgba(84,84,84,0.79) 0%, rgba(84,84,84,0.79) 0%, rgba(0,0,0,0.79) 100%);
  background: linear-gradient(to bottom, rgba(84,84,84,0.79) 0%, rgba(84,84,84,0.79) 0%, rgba(0,0,0,0.79) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#000000', GradientType=0 );
}

.col-sf {
    float: left;
    width: 33.3%;
    padding: 0px;
}

.row-sf {
    max-width: 1050px;
    margin: 0 auto;
    padding: 40px 0;
}

.row-sf:after {
    content: "";
    display: table;
    clear: both;
}

.sf-tel, .sf-tel a {
	font-size: 16px;
	letter-spacing: 2px;
	color: #fff;
	padding: 10px 0;
}

.tel, .tel a {
  font-family: "SofiaProSemibold";
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  padding: 10px 0;
}

.soc-ico {
	padding: 0 5px;
}

.sf-address {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 10px 0;
}

.sf-maps {
	width: 100%;
}

.direction {
    background-color: rgba(0,0,0,0);
    border-color: #D54D23;
    color: #D54D23;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    padding: 10px 35px;
    opacity: 1;
    margin: 5px 0;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
}

.sf-openhours-title {
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
}

.sf-openhours-summary {
	font-size: 12px;
	color: #fff;
	letter-spacing: 1px;
	padding: 7px 0;
	line-height: 18px;
}

footer {
  padding: 10px 0 15px 0;
	background-color: #363636;
	text-align: center;
	color: #dbdbdb;
}

.copyright-1 {
	font-size: 9px;
	letter-spacing: 1px;
	padding: 5px 0;
}

.copyright-2 {
	font-size: 7px;
	letter-spacing: 1px;
}

.naniura-bold {
	font-family: "SofiaProSemibold";
	color: #fff;
  font-size: 9px;
}

.iobitdev-text {
	color: #D54D23;
	text-decoration: none;
}

/*test scroll animate*/
.arrow-animate a span {
  position: absolute;
/*  top: 460px;*/
  top: 500px; /*windows 10 width 1366*/
/*  left: 50%;*/
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #D54D23;
  border-bottom: 2px solid #D54D23;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
}
/*end of test scroll animate*/

/*fsmenu*/

/*@media(max-width: 375px){
  .overlay nav {
  text-align: right;
  position: relative;
  top: 35%;
  height: 60%;
  font-size: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  }
}*/

nav.navburger {
  font-family: "SofiaProSemibold";
  text-align: right;
  position: relative;
  top: 35%;
  height: 60%;
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menumobile-line {
  margin: 5px auto;
/*  width: 50px;*/
  border-bottom: solid 1px #d8d8d8;
}

.text-bonbon {
  color: #008198;
}

.text-bonbon:hover {
  opacity: 0.6;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#op {
  display:none;
}

.overlay a {
font-family: "SofiaProSemibold";
  font-size:40px;
  letter-spacing: 0.2px;
}

.lower {
    position: fixed;
    top: 15px;
    right: 15px;
    display: none;
    z-index: 100;
}

.lower label:hover{
  cursor:pointer;
}

.overlay{
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
/*  left: 0;*/
  right: 0;
  background: rgba(235,234,221,0.97);
  z-index: 200;
}

.overlay-black{
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.45);
  z-index: 50;
}

.overlay label{
  width: 58px;
  height:58px;
  position: absolute;
  right: 20px;
/*  top: 20px;*/
  bottom: 50px;
  background: url('../img/cross.png');
  z-index: 100;
  cursor:pointer;
}

.overlay nav {
  font-family: "SofiaProSemibold";
  text-align: right;
  position: relative;
  top: 35%;
  height: 60%;
  font-size: 24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
/*  display: inline-block;*/
  height: 100%;
  position: relative;
}

.overlay ul li {
  padding-right: 5px;
  display: block;
/*  height: 20%;
  height: calc(100% / 5);*/
/*  min-height: 54px;*/
}

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #000;
  text-decoration:none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
/*  font-family: 'NotCourierSans';*/
/*  text-transform:uppercase;*/
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ED5D16;
}

.lower~.overlay-hugeinc{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

.navburger {
  margin: 0 auto;
  font-family: "SofiaProSemibold";
}

/*end of fsmenu*/

.reg-pop {
  z-index: 999;
  font-size: 14px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 12px 0;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
/*  background-image: url("img/pub-pop.jpg");*/
  background-size: cover;
  letter-spacing: 0px;
  display: none;
  color: #000;
}

.reg-pop a {
  color: #000;
}

#cover-regpop {
  margin: 0 auto;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  z-index: 995;
  width:100%;
  height:100%;
  display: none;
}

.button-regpop {
  position: absolute;
  top: 22px;
  right: 20%;
}

.cross-pop {
  cursor: pointer;
}

.button-pop {
  width: 390px;
  margin: 10px auto;
}

.pop-reg {
  float: left;
  width: 190px;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 10px 50px;
  opacity: 1;
  border-radius: 0;
  font-size: 12px;
  border-radius: 20px;
}

.pop-already {
  float: right;
  width: 190px;
  background-color: #4E4E4E;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 10px 25px;
  opacity: 1;
  border-radius: 0;
  font-size: 12px;
  border-radius: 20px;
}

.modal {
    font-family: "SofiaProSemibold";
    text-align: center;
    opacity: 1;
    display: inline-block;
    border-radius: 0px;
    display: none;
}

.modal a {
    font-family: "SofiaProLight";
    color: #F05D17;
    font-style: italic;
}

.modal p {
      margin: 5px 0 10px 0;
}

.member-page {
  margin: 50px auto;
  text-align: center;
  color: #ED5D16;
  margin-bottom: 80px;
}

.member-detail-page {
  margin: 50px auto;
  text-align: center;
  color: #ED5D16;
  margin-bottom: 80px;
}

.title-jp-big {
  font-family: "SofiaProSemibold", sans-serif;
  font-size: 48px;
  color: #ED5D16;
  letter-spacing: -5px;
  padding-left: 25px;
}

.title-member {
  font-family: "SofiaProSemibold";
  font-size: 28px;
  color: #ED5D16;
  letter-spacing: 1px;
  line-height: 24px;
  padding: 0 20px;
}

.subtitle-member {
  font-family: "SofiaProLight";
  font-size: 18px;
  color: #ED5D16;
  letter-spacing: 1px;
  margin: 5px;
  line-height: 20px;
  padding: 0 20px;
}

.h1-member {
  font-size: 22px;
  letter-spacing: -0.5px;
  margin-top: 50px;
}

.h1-signin {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-top: 50px;
}

.h-member {
  font-size: 32px;
  margin: 50px;
  line-height: 36px;
}

.button-reg-con {
    max-width: 320px;
    margin: 10px auto;
}

.button-reg-con2 {
    padding: 0 15px;
    max-width: 430px;
    margin: 0px auto;
}

.button-register {
    margin: 5px;
    font-family: "SofiaProLight";
    width: 300px;
    background-color: #313131;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 1px;
}

.button-sign-in {
    margin: 5px 0;
    font-family: "SofiaProLight";
    width: 100%;
    background-color: #313131;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 1px;
}

.button-already {
    margin: 5px 0;
    font-family: "SofiaProLight";
    width: 100%;
    background-color: #696969;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 0px;
}

.button-fb {
    margin: 5px;
    font-family: "SofiaProLight";
    width: 300px;
    background-color: #3b5998;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 0px;
}

.button-fb-reg {
    margin: 5px 0;
    font-family: "SofiaProLight";
    width: 100%;
    background-color: #3b5998;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 0px;
}

.why-join {
    font-family: "SofiaProLight";
    margin: 5px auto;
    width: 300px;
    background-color: #3b3b3b;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 25px;
    opacity: 1;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: -0.5px;
}

#sign-in {
  max-width: 320px;

}

.psw {
  font-size: 14px;
  margin: 10px;
}

.psw a {
  color: #000;
}

.sign-in-section {
  margin-bottom: 50px;
}

.forgot-form {
      max-width: 640px;
}

form .forgot-input {
    width: 450px;
    border: 1.5px solid #95989A;
    border-radius: 5px;
}

.forgot-submit {
    border-radius: 50px;
    padding: 15px 55px;
    margin: 10px;
}

.text-button {
    font-family: "SofiaProSemibold";
    width: 120px;
    margin: 35px auto;
}

.text-button, .text-button a {
  color: #000;
}

.footer-bottom {
  position: absolute;
  bottom:0px;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.reset-wrp {
  margin: 80px 0 120px 0;
}

.h2-member {
    font-size: 28px;
    margin: 20px;
    color: #000;
}

.no-ls {
  letter-spacing: 0px;
}

/*.reg-pad {
  padding-right: 36px;
}
*/

.signup input {
  text-align: left;
  padding: 12px 10px;
      box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
}

.signup input[type=text] {
    width: 100%;
}

.signup input[type=password] {
    width: 100%;
}

.signup input[type=email] {
    width: 100%;
}

/*.signup input#inp-mob {
    width: 238px;
}*/

.editpro-signout-wrp {
  width: 100%;
}

.signup {
    max-width: 430px;
    padding: 0 15px;
}

#but-sign-up {
  width: 100%;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 12px 25px;
  opacity: 1;
  margin: 5px 0;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 0;
}

#but-sign-up:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#but-edit-profile {
  float: left;
  width: 70%;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 12px 25px;
  opacity: 1;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

#but-edit-profile:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#but-sign-out {
    float: left;
    width: 28%;
    background-color: #8B0000;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 0px;
    opacity: 1;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: -0.5px;
}

#but-sign-out:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#redeem-point {
    width: 80%;
    background-color: #000000;
    color: #fff;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 12px 0px;
    opacity: 1;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}

#redeem-point:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

#but-upload-ava {
  width: 135px;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 8px 0px;
  opacity: 1;
  margin: 15px 0;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 0px;
}

#but-upload-ava:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

select {
  font-family: "SofiaProLight";
  font-size: 14px;
  letter-spacing: 1px;
  color: #757575;
}

.select-style {
  float: left;
  padding: 5px 0;
  border: 1px solid #95989A;
  border-radius: 7px;
  overflow: hidden;
  background:
  rgba(255,255,255,0)
  url("../img/icon-select.svg")
  no-repeat 90% 50%;
  background-size: 7px 6px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.sdate {
  margin-right: 5px;
}

.smonth {
  margin-right: 5px;
}

.sdate, .syear {
  width: 78px;
}

.smonth {
  width: 120px;
}

.form-dob {
  width: 100%;
  height: 41px;
  margin-bottom: 5px;
}

.dob-text {
  float: left;
  padding: 11px 14px 0px 8px;
  color: #000;
}

.terms {
  font-size: 11px;
  color: #4a4a4a;
  margin: 15px 0;
}

.upload-avatar {
  background-image: url("../img/def-ava.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 100px;
}

.profile-avatar {
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 100px;
}

.avaform-wrp {
  max-width: 580px;
  margin: 30px auto;
}

.avaform-wrp:after {
    content: "";
    display: table;
    clear: both;
}

.ava-wrp {
  width: 25%;
  float: left;
  padding-top: 10px;
}

.form-wrp {
  width: 75%;
  float: left;
  padding: 0;
}

.inp-pro {
    text-align: left;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
    color: #000;
  }

.barcode-margin {
    margin: 10px auto;
    background-color: #fff;
    width: 268px;
    height: 177px;
    padding-top: 15px;
}

.barcode-profile {
  margin: 0 auto;
}

.barcode-img {
  width: 226px;
  height: 143px;
  /*object-fit:cover;*/
  object-position: 50% 50%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
}

.barcode-title {
  font-family: "SofiaProSemibold";
  color: #000;
  line-height: 18px;
}

.your-point {
  width: 150px;
  margin: 0 auto;
}

.title-point {
  font-family: "SofiaProSemibold";
  font-size: 18px;
}

.title-point2 {
  font-family: "SofiaProLight";
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.number-point {
  font-family: "SofiaProSemibold";
  font-size: 72px;
  letter-spacing: -3px;
}

.faq-button {
  font-family: "SofiaProSemibold";
  color: #000;
}

.faq-button a {
  color: #000;
}

.redeem-title {
  font-family: "SofiaProSemibold";
  font-size: 36px;
  line-height: 38px;
  color: #000;
  margin: 25px 0;
}

.redeem-point-wrp {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.redeem-img-1 {
  background-image: url("../img/redeem-1.png");
}

.redeem-img-2 {
  background-image: url("../img/redeem-2.png");
}

.redeem-img-3 {
  background-image: url("../img/redeem-3.png");
}

.redeem-wrp {
  width: 640px;
  margin: 0 auto;
  font-family: "SofiaProSemibold";
  color: #fff;
  padding: 0 20px;
}

.redeem-detail-1 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.redeem-detail-2 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
}

.redeem-detail-wrp {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0 20px;
}

.redeem-btn {
    background-color: #fff;
    color: #000;
    border-width: 4px;
    border-style: none;
    cursor: pointer;
    padding: 7px 35px;
    opacity: 1;
    margin: 10px 0;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "SofiaProSemibold";
}

.redeem-overlay {
  width: 100%;
  height: 100%;
background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

button.faq-terms {
  background-color: rgba(0,0,0,0);
    color: #000;
    border-style: none;
    cursor: pointer;
    padding: 10px 65px;
    opacity: 1;
    margin: 20px 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "SofiaProSemibold";
    border: 3px solid;
}

button.download-menu {
  background-color: rgba(0,0,0,0);
    color: #000;
    border-style: none;
    cursor: pointer;
    padding: 10px 65px;
    opacity: 1;
    margin: 20px 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "SofiaProSemibold";
    border: 3px solid;
}

.button-rdm-yes, .button-rdm-no {
    border-style: none;
    cursor: pointer;
    padding: 10px 45px;
    opacity: 1;
    margin: 20px 0;
    border-radius: 30px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "SofiaProSemibold";
    border: 0px;
    color: #fff;
}

.button-rdm-yes {
    background-color: #F05D17;
}

.button-rdm-no {
    background-color: #5A5A5A;
}

.rdm-warning {
  font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
}

button.back-to-profile {
    border: 2.5px solid #95989A;
    background-color: rgba(0,0,0,0);
    color: #000000;
    /* border-style: none; */
    cursor: pointer;
    padding: 10px 35px;
    opacity: 1;
    margin: 5px 5px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: "SofiaProSemibold";
}

button.redeem-more {
    border: 2.5px solid #313131;
    background-color: #313131;
    color: #fff;
    /* border-style: none; */
    cursor: pointer;
    padding: 10px 22px;
    opacity: 1;
    margin: 5px 5px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: "SofiaProLight";
}


.not-enough {
  color: #B20030;
}

.more-point {
  font-family: "SofiaProSemibold";
}

.margin-min {
  margin: -20px 0 0 0;
}

.margin-min2 {
  margin: -10px 0 0 0;
}

.padding-bot {
  padding-bottom: 25px;
}

.ok-but {
    padding-bottom: 22px;
    margin-top: -12px;
}

.remaining-point {
  font-family: "SofiaProSemibold";
  font-size: 24px;
}

.rmn-point-wrp {
  margin: 20px;
}

.faq-paragraph-wrp {
  text-align: left;
  line-height: 20px;
  color: #000;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 20px;
}

article {
  text-align: left;
  line-height: 28px;
  color: #000;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 20px;
  letter-spacing: 0.5px;
}

.paragraph-b {
  font-family: "SofiaProSemibold";
}

b {
  font-family: "SofiaProSemibold";
}

em {
  font-family: "SofiaProSemibold";
  color: #FF631E;
  font-style: normal;
}

.or-title {
  margin: 35px;
  color: #000;
}

.rdm-done {
  margin-top: 20px;
}

.li-active a {
  color: #FF631E;
}

.li-active a:hover {
  color: #FF631E;
}

.menu-spacer {
  margin: 30px 0;
}

.download-menu-wrp {
  text-align: center;
  margin: 30px 0;
  background-color: rgba(0,0,0,0);
}

/*.menu-wrapper {
  margin-top: -100px;
}*/

.np-phone {
  color: #000;
}

.title-cat-time-wrp {
  letter-spacing: 1px;
}

.title-details {
  font-family: "SofiaProSemibold";
  color: #000;
  font-size: 48px;
  width: 500px;
  line-height: 56px;
  margin: 0 auto;
}

.cat-time-details {
  font-family: "SofiaProSemibold";
  color: #747474;
  font-size: 12px;
  width: 300px;
  margin: 20px auto;
}

.image-details {
  width: 100%;
  height: 480px;
/*  background-size: cover;
  background-position: center;*/
  margin: 30px 0;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img-article {
  background-image: url("../img/img-article.png");
  width: 100%;
  height: 345px;
  background-size: cover;
  background-position: center;
  margin: 0px 0;
}

.share-it-wrp {
  margin: 70px;
  color: #000;
}

.share-it-icon {
  padding-left: 5px;
  margin: 10px 0;
}

.v-separator {
    border-left: 1px solid gray;
    margin: 0 30px;
    vertical-align: super;
}

.other-promotion {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
}

.oth-promo-wrp {
  padding: 30px 0;
}

.title-oth-wrp {
  font-size: 28px;
  font-family: "SofiaProSemibold";
  letter-spacing: 1px;
  padding: 0 20px;
}

.title-oth-jp {
  font-size: 16px;
}

.shop-wrapper {
  margin: 20px 0;
}

.how-to-buy, .call-us {
  color: #000;
}

/*.how-to-buy {
  font-family: "SofiaProSemibold";
}*/

.how-to-wrp p {
  color: #000;
  line-height: 22px;
}

.title-shop-soon {
  font-size: 24px;
  color: #000;
  margin: 100px 0 0 0;
  line-height: 30px;
  padding: 0 20px;
}

.logo-location {
  margin: 30px 0;
}

.logo-openh {
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  line-height: 16px;
}

input#contact-form {
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "SofiaProLight";
    width: 430px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: solid 1px #95989A;
    border-radius: 3px;
    margin-bottom: 5px;
}

textarea {
  font-family: "SofiaProLight";
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: solid 1px #95989A;
  border-radius: 3px;
  width: 430px;
  height: 115px;
}

#contactform-wrp {
  margin-top: 0;
}

.form-maps-wrp {
  margin: 30px 0;
}

.address-form {
  color: #000;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 50px 0 20px 0;
}

.openhours {
  padding: 0 20px;
}

.iframe-size {
  width: 100%;
  height: 252px;
}

.footer-bonbon-none {
  display: none;
}

.obj-fit {
  width:700px;
  padding: 0 20px;
  object-fit:cover;
  object-position: 50% 50%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
}

.bonbon-page {
  text-align: center;
  margin-bottom: 50px;
}

.header-bonbon {
  margin: 30px 0;
}

.bonbon-soon-img {
  margin: 50px 0;
}

.bonbon-bg {
  background-image: url("../img/bonbon-bg.png");
  background-size: cover;
  background-position: center;
}

.header-bonbon img {
  width: 205px;
}

.contact-done {
    font-size: 24px;
    color: #ED5D16;
    margin: 30px 0 40px 0;
    padding: 0 20px;
    line-height: 30px;
}

.err {
  color: gray;
}

.menu-thumbnail img {
  width: 210px;
  height: 275px;
  object-fit:cover;
  object-position: 50% 50%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
}

.upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-file + label {
  margin: 15px 0;
    width: 135px;
    border-radius: 20px;
    padding: 8px 0px;
    border-width: 4px;
    border-style: none;
    font-size: 10px;
    color: white;
    background-color: #F05D17;
    display: inline-block;
}

.upload-file:focus + label,
.upload-file + label:hover {
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

.upload-file + label {
  cursor: pointer; /* "hand" cursor */
}

.upload-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.mmbr-margin-bottom {
  margin-bottom: 300px;
}
.mmbr-margin-bottom {
  margin-bottom: 300px;
}

#but-add-poin {
  width: 200px;
  background-color: #F05D17;
  color: #fff;
  border-width: 4px;
  border-style: none;
  cursor: pointer;
  padding: 12px 25px;
  opacity: 1;
  margin: 5px 0;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 2px;
}

#but-add-poin:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .50s ease-in-out;
  -moz-transition: opacity .50s ease-in-out;
  -webkit-transition: opacity .50s ease-in-out;
}

.mrg-point {
  margin: 50px 0 120px 0;
}

.h1-point {
  font-size: 18px;
  letter-spacing: -0.5px;
  margin-top: 50px;
  line-height: 24px;
}

.m-point {
    max-width: 320px;
  }

.modal {
  border-radius: 5px;
  box-shadow: 0 0 0px #000;
}

.zind-point {
  z-index: 0;
}

.form-add-point {
    width: 300px;
    margin: 20px auto;
}

@media (min-width:1920px){
.swiper-slider {
    height: 900px;
  }
}

@media (min-width:1600px){
.swiper-slider {
    height: 600px;
	}
}

@media (max-width:925px) {
.imgpromo {
  width: 92%;
  height: 92%;
}

.iframe-size {
    width: 430px;
}

.column-2 {
  width: 100%;
}

.button-regpop {
    top: 25px;
    right: 8%;
}

.mf-nav {
  width: 750px;
  }

.promoevent-summary {
	height: 170px;
	}

.row-2col {
    padding: 50px 20px;
	}

.column {
    float: left;
    width: 50%;
    padding: 0px;
    margin-bottom: 20px;
	}

.row {
	max-width: 450px
	}

.swiper-slider {
    width: 100%;
    height: 300px;
    position: relative;
    /* border-top: 3px solid #b9354d; */
    margin-bottom: 15px;
    overflow: hidden;
    padding: 20px 0 40px 0;
	}

.swiper-slide {
	width: 480px;
	}
}

@media (max-width:768px) {
.image-details {
    height: 320px;
  }

.mf-nav {
  width: 730px;
  }

@media (max-width:767px) {
.bonbon-bg {
  background-image: url("../img/bonbon-bg.png");
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.obj-fit {
  width:100%;
  padding: 0 10px;
}

.header-pad-bot-article {
    padding: 15px 0 30px 0;
}

/*.title-jp-big {
  padding: 0 20px;
}*/

.article-summary {
    padding-bottom: 20px;
  }

.article-wrp {
    width: 100%;
  }

.column-3 {
    width: 100%;
  }

.article-thumb {
    width: 92%;
  }

.member-page {
  margin: -60px 0 150px 0;
}

.member-detail-page {
  margin: -60px 0 150px 0;
}


.button-regpop {
    top: 8px;
    right: 8%;
}

.cross-pop {
      width: 20px;
}

.navburger-logo {
    margin-bottom: 20px;
}

.overlay nav {
    top: 31.7%;
}

.overlay label{
  width: 32px;
  height:32px;
  background-size: cover;
}

.overlay a {
  font-size:24px;
  padding: 5px 0;
}

.lower {
  display: block;
}

.welcome-scroll {
display: none;
}

.wrapper-nav-m {
padding-bottom: 70px;
position: relative;
z-index: 10;
}

.nav-m-fixed {
  display: block;
}

#menu-fixed {
    font-family: "SofiaProLight";
    position: fixed;
    top: 0px;
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.95);
  }

.mf-nav {
  display: none;
}

  header {
    padding: 15px 0 80px 0;
  }

.menu-header {
    padding: 15px 0 0px 0;
  }

.wrapper-nav-m {
  display: block;
}

.topmenu, .brandlogo {
  display: none;
  }
}

.col2 {
	float: left;
    width: 100%;
    padding: 0px;
	}

.imgpromo {
    width: 320px;
	}

.row-2col {
    width: 480px;
    padding: 30px 20px;
	}

.promoevent {
    padding: 20px 0;
	}

.promoevent-title {
    padding-top: 20px;
	}

.promoevent-summary {
    height: 150px;
	}

.alignleft {
    text-align: center;
	}
}

@media (min-height: 720px) {
  .sp-height {
    margin-bottom: 400px;
  }
}

@media (max-width:640px) {
.redeem-wrp {
    width: 100%;
}

input[type=email] {
    width: 500px;
}

.title-jp-big {
    padding-left: 0px;
}

.ava-wrp, .form-wrp {
    width: 100%;
}

}

@media (max-width:499px) {
input#contact-form {
  width: 300px;
}

textarea {
  width: 300px;
}

#but-contact {
    width: 300px;
  }

.iframe-size {
    width: 300px;
    height: 200px;
}

.cat-time-details {
    font-size: 11px;
    margin: 10px auto;
}

.title-details {
    font-family: "SofiaProSemibold";
    color: #000;
    font-size: 28px;
    width: 100%;
    line-height: 32px;
    margin: 0 auto;
    padding: 0 20px;
}

.member-line2 {
    margin: 5px auto;
    width: 290px;
    border-bottom: solid 3px #F05D17;
    margin-bottom: 10px;
}

.member-line3 {
    margin: 5px auto;
    width: 290px;
    border-bottom: solid 3px #F05D17;
    margin-bottom: 10px;
}

    .column {
    width: 100%;
    margin: 0px 0 20px 0;
    }

    .row {
    max-width: 225px;
	}

  input[type=email] {
      width: 400px;
  }

  .sub-footer {
      background-image: url(../img/subfooter-bg-m.png);
      background-size: cover;
      /* padding: 180px 0; */
  }

  .col-sf {
      float: left;
      width: 100%;
      padding: 0px;
      margin-bottom: 20px;
  }

  .row-sf {
      max-width: 1050px;
      margin: 0 auto;
      padding: 20px 0;
  }

  .sf-maps {
      padding: 0 15px;
  }

}

@media (max-width:420px){
.image-details {
  width: 100%;
  height: 200px;
  margin: 15px 0;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.contact-done {
    font-size: 18px;
    line-height: 22px;
}

.header-bonbon img {
  width: 160px;
}

.title-shop-soon {
  font-size: 18px;
  margin: 50px 0 0 0;
  line-height: 28px;
}

article {
    line-height: 24px;
    font-size: 14px;
}

.img-article {
    height: 200px;
  }

.header-pad-bot-article {
    padding: 15px 0 45px 0;
}

.title-jp-big {
    padding: 0 20px;
}

button.download-menu {
    padding: 10px 25px;
}

.menu-header {
    padding: 15px 0 60px 0;
  }

.first-time {
  margin: 50px 0;
}

.redeem-title {
    font-size: 18px;
    line-height: 20px;
  }

.redeem-detail-wrp {
    bottom: 0;
  }

.redeem-detail-1 {
    font-size: 18px;
    line-height: 20px;
  }

.redeem-detail-2 {
    font-size: 14px;
  }

.redeem-point-wrp {
    height: 180px;
}

.title-member-wrapper {
margin: -10px auto;
}

.avaform-wrp {
    margin: 10px auto;
}

#but-upload-ava {
    margin: 10px 0;

}

.smonth {
    width: 179px;
}

.dob-text {
    float: none;
    padding: 0;
    margin: 8px;
  }

  .form-dob {
    height: 66px;
}

.signup input[type=email] {
    width: 100%;
    padding: 12px 10px;
}

.h-member {
    font-size: 18px;
    margin: 20px 0 30px 0;
    line-height: 20px;
}

.reset-wrp {
    margin: 80px 0 120px 0;
  }

.title-jp-big {
    font-size: 36px;
    line-height: 38px;
}

.title-member {
    font-size: 18px;
}

.subtitle-member {
    font-size: 14px;
}

.h1-member {
    font-size: 20px;
    margin-top: 20px;
}

.h1-signin {
    font-size: 18px;
    margin-top: 20px;
}

.sign-in-section {
    margin-bottom: 30px;
}

.wrapper-member {
    background-size: 850px;
    background-position: center;
}

.member-page {
    margin: 0px 0 50px 0;
}

.member-detail-page {
    margin: 0px 0 50px 0;
}

.button-pop {
    width: 100%;
    margin: 0;
}

.col-reg {
  width: 290px;
  float: none;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 16px;
}

.grab-text {
    margin: 0 auto;
    width: 200px;
    font-size: 18px;
}

.button-regpop {
    top: 18px;
    right: 6%;
}

.overlay nav {
    top: 31.7%;
}

.overlay label{
  width: 32px;
  height:32px;
  background-size: cover;
}

.overlay a {
  font-size:24px;
  padding: 5px 0;
}

.overlay ul li {
    min-height: 0px;
}

.menu-thumbnail {
    height: 195px;
}

.wrapper-nav-m {
padding-bottom: 0px;
}

.subscribe {
    background-position: center;
    background-size: 960px;
}

.title-subs-en {
    font-family: "SofiaProSemibold";
    font-size: 42px;
    letter-spacing: -2px;
    color: #000;
    padding-top: 10px;
}

input[type=email] {
    width: 300px;
    padding: 15px 0px;
}

.row-2col {
    width: 100%;
  }

.imgpromo {
    width: 100%;
}

.promoevent-summary {
    height: 200px;
}

.promoevent-summary {
    font-size: 15px;
}

.swiper-slider {
    margin-top: -10px;
    height: 260px;
}

.promoevent-title {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.all-menus {
    font-family: "SofiaProSemibold";
    background-color: rgba(0,0,0,0);
    border-color: #000;
    color: #000;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    padding: 9px 25px 7px 25px;
    opacity: 1;
    margin: 10px 6px;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 2px;
    float: left;
}

.featuredmenu {
  background-image: url("../img/featured-bg.png");
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0 80px 0;
  background-position: top;
  background-size: cover;
}

.no-bg {
  background-image: none;
}

.bg-menu-1 {
  background-image: url("../img/menu-bg-2.png");
  background-size: cover;
  background-position: center;
}

.bg-menu-2 {
  background-image: url("../img/menu-bg-2.png");
  background-size: cover;
  background-position: center;
}

.menu-thumbnail img, .menu-ph {
      width: 150px;
      height: 195px;
}

.menu-title {
    font-family: "SofiaProSemibold";
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    letter-spacing: 0.1px;
    padding: 0 7px;
    margin: 12px 0 0px 0;
    width: 100%;
}

.menu-line {
    margin: 5px auto;
    width: 145px;
    }

.menu-stars {
    padding: 10px 5px;
}

.menu-stars img {
  width: 10px;
}

.menu-ph {
    width: 150px;
    margin: 0 auto;
    text-align: left;
    font-family: "SofiaProSemibold";
    font-size: 24px;
    letter-spacing: -1.6px;
    background-color: #F5A246;
    background-image: url(../img/menu-placeholder.png);
    background-position: center;
    padding: 8px 0px 0px 5px;
    line-height: 22px;
}

.row {
    max-width: 100%;
  }

.column {
    width: 50%;
    }

.welcome-text {
    font-size: 40px;
    padding: 70px 12px 24px 12px;
    letter-spacing: 0px;
    line-height: 48px;
    text-align: left;
  }

.see-our-menu {
    float: left;
    margin: 0px 15px;
}

.about {
    padding: 32px;
}

.title-about {
    font-size: 24px;
}

.title-jp {
    font-size: 12px;
}

.content-about {
    max-width: 700px;
    line-height: 30px;
    margin: 10px auto;
    font-size: 15px;
}

.title-menu {
    background-image: url(../img/title-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
    padding: 28px 0px 45px 0;
    text-align: center;
    font-family: "SofiaProSemibold";
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #F05D17;
}

.menu-title {
    padding: 0 30px;
    }

.menu-stars {
    padding: 10px 70px;
    position: absolute;
}

.all-menus {
  float: none;
}

}

@media(max-width: 414px){
.featuredmenu {
    padding: 20px 0 50px 0;
  }
}

@media(max-height: 414px){
  .overlay a {
    font-size: 16px;
}

  .overlay label {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 0;
      top: 15px;
      left: 15px;
      bottom: 50px;
      background: url(../img/cross.png);
      z-index: 100;
      cursor: pointer;
      background-size: cover;
  }
}

@media(max-width: 375px){
.menu-title {
    padding: 0 20px;
}

.menu-stars {
    padding: 10px 70px;
    position: absolute;
}

.all-menus {
    font-family: "SofiaProSemibold";
    background-color: rgba(0,0,0,0);
    border-color: #000;
    color: #000;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    padding: 9px 18px 7px 25px;
    opacity: 1;
    margin: 0px 20px;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 2px;
    float: left;
}

.right-arrow {
    vertical-align: sub;
    margin: 0px 0px 0 10px;
}

.fmenupadbot {
  padding: 20px 0 110px 0;
}

}

@media(max-width: 320px){
.smonth {
  width: 120px;
}

.all-menus {
    font-family: "SofiaProSemibold";
    background-color: rgba(0,0,0,0);
    border-color: #000;
    color: #000;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
/*    padding: 9px 25px 7px 25px;*/
    opacity: 1;
    margin: 10px 6px;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 2px;
    float: left;
}

.menu-title {
    font-family: "SofiaProSemibold";
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    letter-spacing: 0.1px;
    padding: 0 7px;
    margin: 12px 0 0px 0;
    width: 100%;
}

.menu-stars img {
  width: 10px;
}

}
